.header {
    grid-area: h;
    background-color: green;
  }

.header img {
    width: 57px;
    margin: 2px;
    border-radius: 50%;
  }
.loginBlock {
    float: right;
}
.loginBlock a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}