.profileItem {

}
.img1 {
    width: 100%;
    height: 150px;
}
.description {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.img2 {
    border-radius: 20%;
    width: 100px;
    height: 100px;
}