.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    margin: 20px;
    font-size: 20px;

}

.dialogsItems {
    padding: 10px;
}
.dialog a {
    color: black;
    text-decoration: none;
}

.dialog a.active {
    color: gold;
}

.messages {
    padding: 10px;

}

.message.active {
    color: gold;
}
.imgAva {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}